In [60]:
import random
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

from codex.codex import Codex
from utils import bfs_node_limit, bfs_depth_limit, triple_TF, find_paths_df_multi

sizes = Codex.SIZES
codes = Codex.CODES

codex = Codex(size='s', code='en')

In [61]:
test = codex.negative_split('test')
test

         head relation     tail
0     Q104081      P27      Q35
1     Q214191      P27     Q408
2     Q135481      P27      Q30
3       Q1297      P17     Q142
4      Q41076      P26   Q44221
...       ...      ...      ...
1823     Q633     P264  Q208909
1824  Q214548      P27     Q739
1825   Q80424      P27     Q414
1826  Q213684    P1412     Q809
1827  Q188482     P136   Q45981

[1828 rows x 3 columns]

In [62]:
sampled_triple = test.sample(n=1).squeeze()
sampled_triple

head        Q242110
relation       P264
tail        Q202440
Name: 758, dtype: object

In [63]:
head = codex.entity_label(sampled_triple['head'])
tail = codex.entity_label(sampled_triple['tail'])
relation = codex.relation_label(sampled_triple['relation'])

In [64]:
prompt = f'Is the triple (head: {head}, relation: {relation}, tail: {tail}) True or False?'

In [65]:
prompt

'Is the triple (head: Ayọ, relation: record label, tail: Atlantic Records) True or False?'