In [71]:
import random
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

from codex.codex import Codex
from utils import bfs_depth_limit, get_info, bfs_node_limit

sizes = Codex.SIZES
codes = Codex.CODES

codex = Codex(size='s', code='en')
random.seed(42)
invalid = codex.negative_split('valid')
valid = codex.split('valid')
train = codex.split('train')
valid

         head relation       tail
0        Q928     P530        Q41
1     Q443897     P101    Q207628
2       Q1014     P530       Q148
3     Q187019     P106  Q18844224
4        Q148     P530        Q31
...       ...      ...        ...
1822  Q299138     P106   Q2252262
1823      Q41     P463     Q41550
1824  Q214548      P27        Q30
1825  Q365042     P106     Q36834
1826     Q750     P530       Q241

[1827 rows x 3 columns]

In [72]:
sampled_triple = valid.sample(n=1).squeeze()

In [73]:
# relative_triples = bfs_depth_limit(train, sampled_triple['head'], reverse= False, max_depth = 0)
# relative_triples_2 = bfs_depth_limit(train, sampled_triple['tail'], reverse= True, max_depth = 0)
relative_triples = bfs_node_limit(train, sampled_triple['head'], max_nodes=5,reverse= False)
relative_triples_2 = bfs_node_limit(train, sampled_triple['tail'], max_nodes=5,reverse= True)
info_prompt = get_info(relative_triples,codex)
info_prompt_2 = get_info(relative_triples_2,codex)
tail = codex.entity_label(sampled_triple['tail'])
head = codex.entity_label(sampled_triple['head'])
relation = codex.relation_label(sampled_triple['relation'])

In [74]:
head_prompt = "Given the following information as references.\n"
reference_prompt = f"Reference 1:\n{info_prompt}\nReference 2:\n{info_prompt_2}\n"
question_prompt = f"Question: Is the following triple True or False?\nhead: {head}, relation: {relation}, tail: {tail}\n"
instructions = "Please note that you don't have to limit yourself to the references provided. You can use any information you have to answer the question.\n"
prompt = head_prompt + reference_prompt + question_prompt + instructions

In [75]:
with open('prompts/prompt_board.txt', 'w') as f:
    f.write(prompt)

In [76]:
codex.entity_label(sampled_triple['head'])

'Poland'

In [77]:
codex.entity_label(sampled_triple['tail'])

'Council of Europe'

In [78]:
codex.relation_label(sampled_triple['relation'])

'member of'

In [79]:
# train = codex.split('train')
# prompt_2 = find_paths_df_multi(codex, train=train, test_head = sampled_triple['head'], test_relation = sampled_triple['relation'], test_tail = sampled_triple['tail'])
# prompt_2